body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 10px;
}

.container {
    border: 2px solid lightgray;
    padding: 10px;
}

.avatar-block {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
    position: relative;
} 

.avatar-img {
    width: 100%;
    border-radius: 50%;
}

.avatar-heart {
    background: url('../assets/like.svg') no-repeat 50% 50%, #fff;
    border-radius: 50%;
    min-width: 20%;
    min-height: 20%;
    border: 1px solid lightgray;
    position: absolute;
    bottom: 7%;
    right: 7%;
}

.avatar-heart:hover {
    background: url('../assets/like_hover.svg') no-repeat 50% 50%, #fff;
}

h3 {
    color: #5cb85c;
}

h3,
h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

a,
a:hover,
a:visited,
a:active {
    color: #5cb85c;
    text-decoration: none;
}

.info-block {
    display: flex;
}

.decription {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rate-block, .description-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rate-block {
    margin: 20px 0px 0px 0px;
}

.rates {
    background: url('../assets/star.svg');
    background-repeat: repeat-x round;
    background-size: 20px 20px;
    width: 100px;
    height: 20px;
    margin-top: 5px;
}

.review-txt {
    color: lightgray;
    font-size: 70%;
    margin-top: 6px;
}

.review-xss-txt {
    display: none
}

.rating-points {
    font-size: 180%;
    font-weight: bold;
    white-space: nowrap;
}

.diamond {
    height: 24px;
    width: auto;
    margin-top: -5px;
}

.rating-points-txt {
    color: lightgray;
    font-size: 70%;
    width: 100%;
    margin-top: -5px;
}

.member-since {
    font-size: 180%;
    font-weight: bold;
}

.member-since-txt {
    color: lightgray;
    font-size: 70%;
    margin-top: -5px;
}


button {
    width: 100%;
    margin: 10px 0 5px 0;
}

button:hover {
    background-color: lightblue !important;
    border: none;
}

.price {
    font-size: 110%;
    font-weight: bold;
    margin-top: -6px;
}

.first-minutes {
    color: darkviolet;
    font-size: 70%;
    font-weight: bolder;
    margin-top: 25px;
}

.button-phone {
    background: url('../assets/phone.svg') no-repeat 0px 50%, #5cb85c;
    background-size: 40px 40px;
    padding-left: 30px;
}

.button-phone:hover {
    background: url('../assets/phone.svg') no-repeat 0px 50%, lightblue;
    background-size: 40px 40px;
}

.button-chat {
    background: url('../assets/chat.svg') no-repeat 10px 50%, #5cb85c;
    padding-left: 32px;
    background-size: 22px 22px;
}

.button-chat:hover {
    background: url('../assets/chat.svg') no-repeat 10px 50%, lightblue;
    background-size: 24px 24px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .info-block {
        display: block;
    }

    .rate-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        align-items: flex-start;
    }

    .rate-col-points {
        order: 2;
    } 
    
    .btn-block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .btn-col{
        width: 33.333%;
        padding: 0px 5px;
    }

    .first-minutes-xs {
        background:  darkviolet;
        color: white;
        padding: 5px;
        border-radius: 3px;
        border: none;
        font-size: 60%;
        position: relative;
    }

    .first-minutes-xs::after{
        right: 0;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #fff;
        border-width: 32px;
        margin-top: -32px;
    }
    
    .price {
        padding-left: 10px;
        margin-top: -2px;
        font-weight: bolder;
    }

    button {
        height: 50px;
    }
}


@media only screen and (max-width: 992px) {

    .button-phone {
        white-space: normal; 
    }

    .button-chat {
        white-space: normal; 
    }
 }

 @media only screen and (max-width: 320px) {
     .review-txt{ 
         display: none;
     }
     .review-xss-txt {
        color: lightgray;
        font-size: 70%;
        margin-top: 6px;
     }
 }